
:root {
  --color-primary: #242424;
  --color-secondary: #E6E6E6;
  --color-Gryffondor: #C10404;
  --color-Poufsouffle: #DEB916;
  --color-Serdaigle: #0F85C1;
  --color-Serpentard: #10800D;
}

@font-face {
	font-family: "harryPotter";
	src: url("harry_p/HARRYP__.TTF");
}

body {
  background-color: var(--color-secondary);
}

.harryFontFamily {
  font-family: "harryPotter";
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.header {
  width: 100%;
  height: 15vh;
  font-size: 3vw;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  box-shadow: 0px 7px 40px black;
}

.heardeName {
  width: 100%;
}

.headerButtonsContainer {
  width: 100%;
  text-align: right;
  /* padding-right: 3vw;
  padding-bottom: 2vh; */
  position: absolute;
  z-index: 4;
}

.header .button {
  font-size: 1vw;
  margin-right: 1%;
  color: var(--color-primary);
  font-weight: bold;
}

.home {
  width: 100vw;
  height: 85vh;
  color: var(--color-secondary);;
}

.house {
  width: 25%;
  height: 100%;
  font-size: 3vw;
  color: var(--color-secondary);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
}

.houseBlazon {
  height: 60vh;
  width: 20vw;
  text-align: center;
}

.pointsNumber {
  font-size: 5vw;
  margin-top: 50px;
}

.points {
  font-size: 2vw;
  font-weight: bold;
  opacity: 0.2;
}

.members {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: row;
}

.table {
  margin: 3vw;
}

.studentsTable {
  float: left;
}

.professorsTable {
  float: right;
}

.addPoints {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
}

.tableStudentsProfessors {
  width: 50vw;
  text-align: center;
  font-size: 1vw;
  color: var(--color-primary);
}

.tableStudentsProfessors div {
  font-size: 3vw;
  margin: 20px;
  padding-top: 30px;
}

th {
  font-weight: bold;
  padding: 20px 30px;
}

td {
  padding: 10px 0px;
  }

.houseIcon {
  width: 1.3vw;
}

.addStudentProfessor {
  width: 100vw;
  height: 20vh;
  padding-top: 6vw;
  position: absolute;
  z-index: 4;
}

.tableAddPoints {
  width: 50vw;
  text-align: center;
  font-size: 1vw;
  color: var(--color-primary);
}

.formularTitle {
  font-size: 3vw;
  margin: 20px;
  padding-top: 30px;
}

.formularInput {
}