.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --color-primary: #323232;
  --color-Gryffondor: #C10404;
  --color-Poufsouffle: #DEB916;
  --color-Serdaigle: #0F85C1;
  --color-Serpentard: #10800D;
}

@font-face {
	font-family: "harryPotter";
	src: url("harry_p/HARRYP__.TTF");
}

.harryFontFamily {
  font-family: "harryPotter";
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.header {
  width: 100vw;
  height: 15vh;
  font-size: 3vw;
  background-color: var(--color-primary);
  color: white;
}

.heardeName {
  width: 100%;
}

.headerButtonsContainer {
  width: 100%;
  text-align: right;
  padding-right: 3vw;
  padding-bottom: 2vh;
  position: absolute;
  z-index: 4;
}

.header .button {
  font-size: 1vw;
  margin-right: 1%;
  color: var(--color-primary);
  font-weight: bold;
}

.home {
  width: 100vw;
  height: 85vh;
}

.house {
  width: 25%;
  height: 100%;
  font-size: 3vw;
  color: white;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
}

.houseBlazon {
  height: 60vh;
  width: 20vw;
}

.pointsNumber {
  font-size: 5vw;
  margin-top: 50px;
}

.points {
  font-size: 2vw;
  font-weight: bold;
  opacity: 0.2;
}

.members {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
}

.studentsTable {
  float: left;
}

.professorsTable {
  float: right;
}

.addPoints {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
}